$main-color: #4155D1;
$secondary-color: #F7DF1E;
$dark-color: #3b3a3a;
$font: "Inter", sans-serif;
$semi-bold: 600;
$transition-lg: .3s ease-in-out;
$transition-md: .2s ease-in-out;
$transition-sh: .1s ease-in-out;